emp-sapi/src/main/mule/delete-employee-ankur.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-employee-ankurFlow" doc:id="eb7a5bc8-4470-4f54-9dad-5cc97533bcc3" >
		<http:listener doc:name="Delete Employee Listener" doc:id="32e394a9-347e-4a81-aedc-6674a470b42e" config-ref="HTTP_Listener_config" allowedMethods="DELETE" path="v1/delete-employee/{employeeID}/{employeeName}"/>
		<db:stored-procedure doc:name="Delete Empolyee Stored procedure" doc:id="2f97b51c-a69e-42d6-b88b-d98cf5bf54fc" config-ref="Database_Config">
			<db:sql ><![CDATA[{call delete_emp(:empID, :empName)}]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/java
---
{
	empID: attributes.uriParams.employeeID,
	empName: attributes.uriParams.employeeName
}]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Set Response" doc:id="d334febf-130e-4b8c-8cc2-c4ad98dcd2a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: 200,
	message: "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
