uhub-sapi/src/main/mule/get-covid-cases-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-covid-cases-by-national-idFlow" doc:id="a9d35a37-2b1d-40ee-93ef-5b1d51c32fde" >
		<http:listener doc:name="Listener" doc:id="2d2eec0e-3d7f-405a-ab63-0d80cafbd099" config-ref="HTTP_Listener_config" path="v1/cases/{nationalID}" allowedMethods="GET">
			<http:response statusCode="#[vars.statusCode]" />
		</http:listener>
		<ee:transform doc:name="Set CorrelationId and transactionId" doc:id="c28cc77b-ee4a-4d82-b56e-e266d60195b6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b5b61bf3-67be-469a-bc4d-3e440d9d9ffd" message='transactionId:#[vars.transactionId],message: "Flow started", payload: attributes.queryParams.nationalID'/>
		<db:select doc:name="Select case details based on National Id" doc:id="76322df3-deec-491c-861a-0b8c96b5cba1" config-ref="Database_Config">
			<db:sql ><![CDATA[select case_id, source, case_type, first_name, last_name, phone, email, date_of_birth, national_id, national_id_type, street_address, city, state, postal, country, create_date, update_date from cvd_case_master where national_id = :national_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[national_id: attributes.uriParams.nationalID]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="e42c3ecb-cd37-41d8-9421-46d52772fbf1" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="Set Success Response" doc:id="cc037943-3a1a-4fe7-a107-41611ab805de" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (covidCase, indexOfCovidCase) -> {
	caseID: covidCase.case_id,
    source: covidCase.source,
    caseType: covidCase.case_type,
    firstName: covidCase.first_name,
    lastName: covidCase.last_name,
    phone: covidCase.phone,
    email: covidCase.email,
    dateOfBirth: covidCase.date_of_birth as String {format: "yyyy-MM-dd"},
    nationalID: covidCase.national_id,
    nationalIDType: covidCase.national_id_type,
    address: {
      streetAddress: covidCase.street_address,
      city: covidCase.city,
      state: covidCase.state,
      postal: covidCase.postal,
      country: covidCase.country
    },
    createDate: covidCase.create_date as String {format: "yyyy-MM-dd"},
    updateDate: covidCase.update_date as String {format: "yyyy-MM-dd"}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Set Case not Found" doc:id="f7148e49-b78d-4f34-b876-3c51a9a0cfb8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"code": 404,
	"message": "Resource not found",
	"description": "The server has not found anything matching the Request-URI",
	"dateTime": now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	"transactionId": vars.transactionId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log" doc:id="c6f6d179-5f38-4019-a9c5-c6e10b000f94" message="Flow has ended"/>
	</flow>
</mule>
