uhub-sapi/src/main/mule/get-covid-report.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get-covid-reportFlow" doc:id="248f232a-ea90-4639-9e1a-08616f89e8d9" >
		<http:listener doc:name="Listener" doc:id="edd469c5-94a0-4234-83dc-3f713251f287" config-ref="HTTP_Listener_config" path="v1/reports"/>
		<ee:transform doc:name="Transform Message" doc:id="d53c44b0-d1dd-4fa7-b354-31014744b0f7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ee3aed7d-a3d1-4671-90fc-4ff3ef5978cf" message='transactionId: #[vars.transactionId], correlationId: #[vars.correlationId], message: "The flow has started"'/>
		<ee:transform doc:name="Generation Dynamic Query" doc:id="53267a8c-ac5d-44a1-8785-75a2dd96ea10" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dynamicReportQuery" ><![CDATA[if(!isEmpty(attributes.queryParams.state)) (
	"select count(*) as count, case_type, state from cvd_case_master where upper(state) = '" ++ upper(attributes.queryParams.state) ++ "' group by case_type, state"
) else (
	"select count(*) as count, case_type, state from cvd_case_master group by case_type, state"
)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="6240a32f-e4fc-4d97-9a22-07521eee5ca4" config-ref="Database_Config">
			<db:sql ><![CDATA[#["$(vars.dynamicReportQuery)"]]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="7f7aecdb-09fd-4f74-879c-86880f2d7da3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
fun vaccinatedByState(state) = (payload filter(($.STATE == state as String) and ($.CASE_TYPE == "vaccinated")) map {
	COUNT: $.COUNT
})[0]
---
((payload groupBy($.STATE) mapObject {
	caseReports: {
		state: $$,
		reports: {
			total: ($.COUNT reduce $ + $$) - (vaccinatedByState($$).COUNT as Number default 0),
			($ orderBy($.CASE_TYPE) map {
				($.CASE_TYPE): $.COUNT
			})
		}
	}
}).*caseReports) default []
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="eb0609a3-0131-4388-9ea7-6f3b4cf31180" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed get reports flow, payload: #[payload]"'/>
	</flow>
</mule>
