mule-event-demo/src/main/mule/mule-json-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2b8d3348-3ec3-44df-82d0-cc8e5dfab821" basePath="mule-message-strucure-demo" level="INFO" message="#[payload.employeeID]" category="">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-json-demoFlow" doc:id="8ef5be23-4da7-407e-bcc3-63d80d42c235" >
		<http:listener doc:name="Listener" doc:id="94fe2cc4-b3b5-481c-bbe2-66423771bde7" config-ref="HTTP_Listener_config" path="read-json" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="c0081bb9-7d08-42d3-a03c-af7e72425a57" message="#[payload.employeeID]"/>
	</flow>
</mule>
