mule-event-demo/src/main/mule/mule-xml-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="mule-xml-demoFlow" doc:id="75f7ba24-7b6a-4b58-81e2-bbaeb4810053" >
		<http:listener doc:name="Listener" doc:id="93061214-5033-40c6-b6ba-774427b73be9" config-ref="HTTP_Listener_config" path="read-xml" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="086dca6e-0099-4778-8a98-254100060cff" message="#[payload.employee.employeeID]"/>
	</flow>
</mule>
