readingheaders/src/main/mule/readURIParams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="readURIParamsFlow" doc:id="67516720-5126-431f-8e81-45a761086149" >
		<http:listener doc:name="Listener" doc:id="748424c4-a46d-4583-848b-c4434ce1f969" config-ref="HTTP_Listener_config" path="read-uriparams/{empId}/{empName}/{empStatus}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="60a33ecb-8306-421f-9f8d-137b7fa9b4cf" message="#[attributes.uriParams.empId]"/>
	</flow>
</mule>
